*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
}

@font-face {
    font-family: Hanken-Grotesk;
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
    --results-secondary-text: rgb(200, 194, 255);
    --results-light-gradient: rgb(103, 67, 255);
    --results-dark-gradient: rgb(49, 44, 232)
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hanken-Grotesk";
    background-color: rgb(235, 241, 255);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
    background-color: white;
}

.results {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, var(--results-light-gradient), var(--results-dark-gradient));
    color: var(--results-secondary-text);
    text-align: center;
    border-radius: 1rem;
    height: 26rem;
    width: 300px;
    padding: 3rem;
}

.eval-level {
    color: white;
    font-size: x-large;
}

.summary {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    width: 300px;
    background-color: white;
    border-radius: 1rem;
    height: 26rem;
    padding: 3rem;
}

.user-result {
    margin: 1rem;
    align-content: center;
    align-self: center;
    border-radius: 100%;
    background: linear-gradient(180deg, var(--results-dark-gradient), var(--results-light-gradient));
    width: 150px;
    height: 150px;
}


li {
    list-style-type: none;
}

button {
    margin-top: 30px;
    background-color: rgb(48, 59, 89);
    color: white;
    height: 40px;
    border-radius: 2rem;
}

button:hover {
    background: linear-gradient(180deg, var(--results-light-gradient), var(--results-dark-gradient));   
}

h2 {
    font-weight: 500;
}

.sum-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;
}

#score-value {
    align-self: center;
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

#reaction {
    background-color: rgb(255, 246, 247);
}
#memory {
    background-color: rgb(255, 250, 244);
}
#verbal {
    background-color: rgb(242, 253, 249);
}
#visual {
    background-color: rgb(244, 244, 254);
}