*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
}

@font-face {
    font-family: Hanken-Grotesk;
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
    --results-secondary-text: rgb(200, 194, 255);
    --results-light-gradient: rgb(103, 67, 255);
    --results-dark-gradient: rgb(49, 44, 232)
}

body {
    height: 100vh;
    font-family: "Hanken-Grotesk";
    background-color: rgb(235, 241, 255);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
    background-color: white;
}



.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, var(--results-light-gradient), var(--results-dark-gradient));
    color: var(--results-secondary-text);
    text-align: center;
    border-radius: 1rem;
    height: 26rem;
    width: 400px;
    padding: 2rem;
}

.eval-level {
    color: white;
    font-size: x-large;
}

.summary {
    display: grid;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-radius: 1rem;
    height: 26rem;
    padding: 2rem;
}

.user-result {
    border-radius: 100%;
    background: linear-gradient(180deg, var(--results-dark-gradient), var(--results-light-gradient));
    width: 200px;
    height: 200px;
}


li {
    list-style-type: none;
    margin: 0.5rem 0rem;
}

button {

    background-color: rgb(48, 59, 89);
    color: white;
    height: 3rem;
}

button:hover {
    background: linear-gradient(180deg, var(--results-light-gradient), var(--results-dark-gradient));   
}

.sum-banner {
    display: flex;
    width: 400px;
    align-items: center;
    height: rem;
}

#reaction {
    background-color: rgb(255, 246, 247);
}
#memory {
    background-color: rgb(255, 250, 244);
}
#verbal {
    background-color: rgb(242, 253, 249);
}
#visual {
    background-color: rgb(244, 244, 254);
}